.body-principal-about{
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin: 100px;
    max-width: 100%;
}

.container-port{
    width: 50%;
    margin: auto;
    padding: 50px;
    background-color: black;
    border-radius: 5% 5% 0 0/ 10% 10% 0 0;
}

.body-principal-about .boton-download{
    padding: 10px 10px;
    background: black;
    color: white;
    border-radius: 5%/10%;
    text-decoration: none;
}

.body-principal-about .boton-download:hover{
    padding: 10px 10px;
    background: rgb(0,0,0,0.8);
    color: white;
    border-radius: 5%/10%;
    text-decoration: underline;
}

.white{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.body-principal-about h1{
    font-size: 50px;
}

.body-principal-about h4{
    font-size: 30px;
}

.body-principal-about p{
    font-size: 25px;
}

.body-principal-about .foto-perfil{
    flex-grow: 1;
    flex-basis: 0;
}

.body-principal-about .foto-perfil img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-principal-about .info{
    flex-grow: 3;
    flex-basis: 0;
    text-align: start;
}

@media only screen and (max-width: 1000px)  {
    .body-principal-about {
        margin-top: 50px;
    }
    
    .body-principal-about {
        display: block;
    }

    .body-principal-about .info{
        text-align: center;
    }

    .body-principal-about h1{
        font-size: 20px;
    }
    .body-principal-about h4{
        font-size: 15px;
    }
    .body-principal-about p{
        font-size: 14px;
    }

}