/*IMPORT DE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;600;700&display=swap');

body{
  margin: 0;
  background: #3D50E1;
  overflow-x: hidden;
  position: relative;
}

.todo{
  display: block;
  position: relative;
}

h1, h2, h5, h6{
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
}

h3, h4{
  font-family: 'Lora', serif;
  margin: 0;
}

p, span, a{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

@media only screen and (max-width: 1000px)  {
  body{
    overflow-y: scroll;
  }
}
